/* general */

html {
    box-sizing: border-box;
    background-color: white;
}
*,
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    width: 80vw;
    font-family: sans-serif;
    font-size: 10px;
    margin: auto;
    padding: 0;
    --first-color: rgb(245, 179, 56);
    --second-color: #ececec;
    --third-color: rgb(250, 206, 124);
    --fourth-color: rgb(231, 151, 2);
    --new-color: rgb(248, 225, 183);
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 0.3rem;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
    /* margin: 10px 20px; */
}

h1{
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

p,
.main-footer,
.side,
.ad {
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 10px;
}

/* borders */

header, 
nav,
.content,
.side,
.ad,
.main-footer {
    border: 2px solid var(--fourth-color);
    border-radius: 5px;
    background-color: var(--third-color);
}

/* flex */


nav ul {
    display: flex;
    justify-content: center;
}

/* li {
    margin: auto;
} */

.wrapper {
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas: 
    "h h h h h"
    "n n n n n"
    "s a a a a"
    "ad f f f f";
}

header {
    grid-area: h;
}
nav {
    grid-area: n;
   
}

.content {
    grid-area: a;
}

.side {
    grid-area: s;
}

.ad {
    grid-area: ad;
}

.main-footer {
    grid-area: f;
}

@media (max-width: 700px) {
    .wrapper {
    background-color: var(--second-color);
    display: grid;
    grid-template-columns:1fr 4fr 1fr;
    
    grid-template-areas: 
    "h h h"
    "n a s"
    "n a ad"
    "f f f";
}

nav ul {
    flex-direction: column;
}
}

@media (max-width: 500px) {
    .wrapper {
    background-color: var(--second-color);
    display: grid;
    grid-template-columns:1fr 3fr;
    
    gap: 10px;
    grid-template-areas: 
    "h h "
    "n n"
    "a a"
    "s s"
    "ad ad"
    "f f";
}
nav ul {
    flex-direction: column;
}
}

 
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        gap: 20px;
    }
  
.wrapper > * {
    grid-column: col-start / span 12;
}

@media (min-width: 600px) {
nav {
    grid-column: 1 /span 13;
    grid-row: 2;
}

.side {
    grid-column: col-start / span 3;
    grid-row: 3;
}

.ad {
    grid-column: col-start / span 3;
    grid-row: 4;
}

.content, 
.main-footer {
    grid-column: col-start 4 / span 9;
}

nav ul {
    justify-content: space-between;
}
}


