/* General */

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    --primery-color: rgb(176, 57, 231);
    --secondry-color: rgb(143, 252, 252);
    --nav-color: rgb(107, 19, 107);
    --nav-color-two: rgb(7, 129, 129);
    

}

*,
*:before, 
*:after {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: sans-serif;
    width: 100vw;
}

/* text styling */

h1 {
    position: relative;
    bottom: 10px;
   margin: auto;
    font-size: 3.5rem;
    color: #fff;
    padding: 0px;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
}

/* Header  */

header {
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: var(--primery-color);
    padding: 40px 0;
}


/* flex layout */

.main-container {
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    width: 50%;
    /*Here we see that the children are indeed breaking out of their container. One way in which you can fix this is to add the following declaration to your <section> rule:*/
    flex-wrap: wrap;
    flex-direction: column;
    flex: 100px;
    
}

article {
    background-color: var(--secondry-color);
    /*Also, add the following declaration to your <article> rule:*/
    flex: 200px;
    /*The flex: 200px declaration set on the articles means that each will be at least 200px wide.*/
    flex: 1 200px;
    margin: 5px;
    padding: 10px;
}

article:nth-of-type(3) {
    flex: 12 200px;
    background-color: #fff;
}
 
/* image flex */

.images {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

/* images */

img {
    flex: 300px;
   padding: 20px;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


